body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    height: 100vh;
}
.all-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30vw;
}

h1 {
    margin-bottom: 1.25rem;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#studentsSelect{
    height: 150px;
}


#studentsList{
    height: 150px;
}

#selectedStudents {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 1.25rem;
    max-height: 200px;
    overflow-y: auto;
}

button {
    background-color: #6D31ED;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5b2bc2;
}

.student-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.remove-button {
    background-color: #ff5050;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-right: .25rem;
}

.remove-button:hover {
    background-color: #ff1a1a;
}
