body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: #9b67e9;
}

h2 {
    color: #00c1ff;
    text-align: center;
}

.content-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

i:hover {
    color: #9b67e9;
}

i.fa-check {
    display: none;
}

i.fa-check:hover {
    color: #1ad21a;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
}

.details {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.content, input {
    margin: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.content p {
    margin: 10px 0;
}

.content:hover {
    box-shadow: 0 0 20px rgba(123, 54, 231, 0.3);
}
