<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Results</title>

</head>
<body>
<header>
    <div th:insert="navigation :: navigation"></div>
</header>
    <canvas id="myChart" style="margin-top: 80px"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const path = window.location.pathname;

    const segments = path.split('/');

    const examId = segments[2];

    fetch(`/api/exam/${examId}/grades`)
        .then(response => response.json())
        .then(data => {
            const gradeWeights = {
                'A': 6,
                'B+': 5,
                'B': 4,
                'C+': 3,
                'C': 2,
                'D': 1
            };

            const sortedLabels = Object.keys(data).sort((a, b) => gradeWeights[b] - gradeWeights[a]);
            const sortedData = sortedLabels.map(label => data[label]);
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: sortedLabels,
                    datasets: [{
                        label: 'Number of Grades',
                        data: sortedData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
</script>
</body>
</html>