<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="showDoneExamUsers.css" />
    <link rel="stylesheet" th:href="@{/css/showDoneExamUsers.css}" />
    <link rel="stylesheet" href="../static/css/showDoneExamUsers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:insert="navigation :: navigation"></div>

<div class="content">
    <div class="exam-info">
        <p>Description: <span th:text="${exam.description}"></span></p>
        <p>Exam starts at: <span th:text="${#temporals.format(exam.startTime, 'HH:mm')}"></span></p>
        <p>Exam ends at: <span th:text="${#temporals.format(exam.endTime, 'HH:mm')}"></span></p>
    </div>
        <div class="participants">
            <h2>List of Participants</h2>
            <ul th:each="student : ${Students}">
                <li>
                    <p>Student ID: <span th:text="${student.getStudentId}"></span></p>
                    <p>First Name: <span th:text="${student.firstname}"></span></p>
                    <p>Last Name: <span th:text="${student.lastname}"></span></p>
                    <p>Points:
                        <span th:each="logstudentexam : ${list}"
                              th:if="${logstudentexam.studentStudent.studentId == student.studentId}"
                              th:text="${logstudentexam.getScoreresult()  + '/' + points}"></span>
                    </p>
                    <p>Date: <span th:text="${mapDate.get(student.getStudentId())}" ></span></p>
                    <p>Time: <span th:text="${#temporals.format(mapTime.get(student.getStudentId()), 'HH:mm:ss')}" ></span></p>

                    <form method="post" th:action="@{/rate}">
                        <input type="hidden" th:name="studentId" th:value="${student.getStudentId}" />
                        <input type="hidden" th:name="examId" th:value="${exam.id}" />
                        <button type="submit">Rate</button>
                    </form>
                </li>
            </ul>
        </div>
</div>





</body>
</html>