<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/showExams.css}"/>
    <link rel="stylesheet" th:href="@{/css/createExam.css}"/>
    <link rel="stylesheet" href="../static/css/showExams.css"/>
    <link rel="stylesheet" href="../static/css/createExam.css"/>
</head>
<body>
<div th:insert="~{navigation :: navigation}"></div>

<div class="container-list">
    <p>Exam List</p>

    <form th:action="@{/exams}" method="get" id="main-form">
        <div class="search-form">
            <input type="search" name="searchQuery" placeholder="Search..." th:value="${param.searchQuery}"/>
            <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="sortType-filter-form">
            <select id="sortType" name="sortType" aria-placeholder="Select sorting" th:value="${param.sortType}">
                <option class="defaultOption" value="" selected>Default</option>
                <option>Subject A-Z</option>
                <option>Subject Z-A</option>
                <option>Date ascending</option>
                <option>Date descending</option>
                <option>Description A-Z</option>
                <option>Description Z-A</option>
            </select>
            <i class="fa-solid fa-filter"></i>
        </div>

        <div class="filter-form">
            <div class="box-date box-date-first">
                <label>First Date</label>
                <input type="date" class="data date-input" name="mindate" id="mindate" th:value="${param.mindate}"/>
            </div>
            <div class="box-date box-date-last">
                <label>Last Date</label>
                <input type="date" class="data date-input" name="maxdate" id="maxdate" th:value="${param.maxdate}"/>
            </div>
        </div>
    </form>

    <form class="add-exam-form">
        <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="button"
                class="create-exam-submit"><i class="fa-solid fa-plus"></i>Create Exam
        </button>
    </form>

    <table class="table" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="exam-id"><span>Exam ID</span></th>
            <th class="exam-description"><span>Description</span></th>
            <th class="exam-start-date"><span>Start Date</span></th>
            <th class="exam-end-date"><span>End Date</span></th>
            <th class="exam-subject"><span>Subject</span></th>
            <th class="exam-operations"><span>Operations</span></th>
        </tr>
        </thead>

        <tbody>
        <form th:object="${exams}" th:action="@{/processForm}" method="post">
            <tr th:each="exam : ${exams}">
                <td th:text="${exam.id}"></td>
                <td th:text="${exam.description}"></td>
                <td th:text="${exam.getStartDate + ' ' + exam.getStartTime}"></td>
                <td th:text="${exam.getEndDate + ' ' + exam.getEndTime}"></td>
                <td th:text="${exam.getExamsSubject.name}"></td>
                <td class="buttons_exam">
                    <button class="operations-btn" type="button" onclick="toggleOperations(this)">CHOOSE OPERATION</button>
                    <div class="operations" style="display: none;">
                        <div class="box-btn">
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'show:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-pen"></i>Details
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER') or hasRole('ROLE_STUDENT')" type="submit"
                                    name="action" th:value="'results:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-square-poll-vertical"></i>Results
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'addStudents:' + ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-plus"></i> Students
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'addQuestion:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-plus"></i> Question
                            </button>
                            <button sec:authorize="hasRole('ROLE_STUDENT')" type="submit" name="action"
                                    th:value="'solveExam:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-pen-ruler"></i>Solve Exam
                            </button>
                        </div>

                        <div class="box-btn2">
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'showDoneExamUser:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-pen"></i>Rate
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'edit:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-pen"></i>Edit
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'delete:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-trash"></i>Delete
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EXAMINER')" type="submit"
                                    name="action" th:value="'toggleVisibility:'+ ${exam.id}" class="edit-delete">
                                <i class="fa-solid fa-eye"></i><span th:text="${exam.visibility != null ? exam.visibility ? 'Visible' : 'Invisible' : 'Default'}"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </form>
        </tbody>

    </table>
</div>

<div class="overlay hidden" id="overlay"></div>

<div class="create-exam-box hidden">
    <h2>Create a new Exam</h2>
    <div class="contener">
        <div class="buttonsImg">
            <img th:src="@{/images/createExam.jpg}" alt="" srcset=""/>
            <div class="buttons">
                <button class="cancel-create-exam">Cancel</button>
                <button class="createExam" type="submit">Create Exam</button>
            </div>
        </div>

        <!--/*@thymesVar id="egzaminator_egzaminator_id" type="java.lang.Integer"*/-->
        <form th:action="@{/addExam/${egzaminator_egzaminator_id}}" th:object="${exam}" method="post" role="form" id="formularz">
            <div class="input-box">
                <label>Subject</label>
                <select id="subjectidcreate" name="subject_subject_id" class="selectCreate">
                    <option th:each="Subject : ${subjects}" th:value="${Subject.id}" th:text="${Subject.name}"></option>
                </select>
            </div>

            <div class="input-box">
                <label>Description</label>
                <input type="text" name="description" class="form-control" id="descriptioncreate"/>
            </div>

            <div class="date-box">
                <div class="start-date">
                    <label>Start Date</label>
                    <input type="date" class="date" name="startdate" id="startdatecreate"/>
                    <input type="time" class="time" name="starttime" id="starttimecreate"/>
                </div>

                <div class="end-date">
                    <label>End Date</label>
                    <input type="date" class="date" name="enddate" id="enddatecreate"/>
                    <input type="time" class="time" name="endtime" id="endtimecreate"/>
                </div>
            </div>

            <div class="questions">
                <label>Questions List</label>
                <div class="question-inputs"></div>
                <button class="addQuestion" type="button">Add Question</button>
            </div>
        </form>
    </div>
</div>

<div class="edit-exam-box hidden">
    <h2>Edit an Exam</h2>
    <div class="contener">
        <div class="buttonsImg">
            <img th:src="@{/images/editExam.jpg}" alt="" srcset=""/>
            <div class="buttons">
                <button class="cancel-edit-exam">Cancel</button>
                <button class="createExam" type="submit">Edit Exam</button>
            </div>
        </div>

        <form th:action="@{/editExam}" th:object="${exam}" method="post" role="form">
            <div class="input-box">
                <label>Subject</label>
                <input type="text" name="subject" class="form-control"/>
            </div>

            <div class="input-box">
                <label>Description</label>
                <input type="text" name="description" class="form-control"/>
            </div>

            <div class="date-box">
                <div class="start-date">
                    <label>Start Date</label>
                    <input type="date" class="date" name="data"/>
                    <input type="time" class="time" name="czas"/>
                </div>

                <div class="end-date">
                    <label>End Date</label>
                    <input type="date" class="date" name="data"/>
                    <input type="time" class="time" name="czas"/>
                </div>
            </div>

            <div class="questions">
                <label>Questions List to Edit</label>
                <div class="questionList"><p class="info">-------</p></div>
                <button class="addQuestion">Edit Questions</button>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleOperations(button) {
        const operationsDiv = button.nextElementSibling;
        operationsDiv.style.display = operationsDiv.style.display === 'block' ? 'none' : 'block';
    }
</script>

<script type="text/javascript" th:src="@{/javascript/exams.js}"></script>
<script src="../static/javascript/exams.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var minDateInput = document.getElementById("mindate");
        var maxDateInput = document.getElementById("maxdate");
        var sortTypeInput = document.getElementById("sortType");

        minDateInput.addEventListener("input", function () {
            document.forms["main-form"].submit();
        });

        maxDateInput.addEventListener("input", function () {
            document.forms["main-form"].submit();
        });
        sortTypeInput.addEventListener("change", function () {
            document.forms["main-form"].submit();
        });
    });

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('sortType')) {
        const sortType = urlParams.get('sortType');
        document.getElementById('sortType').value = sortType;
    }
</script>

<button id="back-to-top">↑ Powrót na górę</button>

<script>
    window.onscroll = function() {
        if (window.scrollY > 10) {
            document.getElementById('back-to-top').style.display = 'block';
        } else {
            document.getElementById('back-to-top').style.display = 'none';
        }
    };

    document.getElementById('back-to-top').onclick = function() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    };
</script>
</body>
</html>

